@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-color: #ffffff; /* White background */
  border-radius: 0.2rem; /* Rounded corners */
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.075); /* Shadow */
  /* padding: 1.5rem; Padding */
  color: #000;
  position: relative;
}


.icons-gallery {
  filter: grayscale(0);
  transition: all 0.3s ease 0s;
}

.icons-gallery:hover {
  /* filter: grayscale(100%); */
  /* background-color: #fff; */
  filter:opacity(100%)
}




